body{background:#fffff;font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;font-size:small;margin:8px 0 16px;text-align:center;}
#form_container{background:#fff;border:1px solid #ccc;margin:0 auto;text-align:left;width:79%;}
#top{display:block;height:10px;margin:10px auto 0;width:80%;}
#bottom{display:block;height:10px;margin:0 auto;width:79%;}
form.appnitro{margin:20px 20px 0;padding:0 0 20px;}
h1{background-color:#dedede;margin:0;min-height:0;padding:0;text-decoration:none;text-indent:-8000px;}
undefined.appnitro{font-family:Lucida Grande, Tahoma, Arial, Verdana, sans-serif;font-size:small;}
.appnitro li{width:61%;}
form ul{font-size:100%;list-style-type:none;margin:0;padding:0;width:100%;}
form li{display:block;margin:0;padding:4px 5px 2px 9px;position:relative;}
form li:after{clear:both;content:".";display:block;height:0;visibility:hidden;}
.buttons:after{clear:both;content:".";display:block;height:0;visibility:hidden;}
.buttons{clear:both;display:block;margin-top:10px;}
* html form li{height:1%;}
* html .buttons{height:1%;}
* html form li div{display:inline-block;}
form li div{color:#444;margin:0 4px 0 0;padding:0 0 8px;}
form li span{color:#444;float:left;margin:0 4px 0 0;padding:0 0 8px;}
li span label{clear:both;color:#444;display:block;font-size:9px;line-height:9px;margin:0;padding-top:3px;}
.form_description{border-bottom:1px dotted #ccc;clear:both;display:inline-block;margin:0 0 1em;}
.form_description[class]{display:block;}
.form_description h2{clear:left;font-size:160%;font-weight:400;margin:0 0 3px;}
.form_description p{font-size:95%;line-height:130%;margin:0 0 12px;}
.button_text{overflow:visible;padding:0 7px;width:auto;}
.buttons input{font-size:120%;margin-right:5px;}
label.description{border:none;color:#222;display:block;font-size:95%;font-weight:700;line-height:150%;padding:0 0 1px;}
.text{background:#fff url(img/shadow.gif) repeat-x top;border-bottom:1px solid #ddd;border-left:1px solid #c3c3c3;border-right:1px solid #c3c3c3;border-top:1px solid #7c7c7c;color:#333;font-size:100%;margin:0;padding:2px 0;}
.select{color:#333;font-size:100%;margin:1px 0;padding:1px 0 0;background:#fff url(img/shadow.gif) repeat-x top;border-bottom:1px solid #ddd;border-left:1px solid #c3c3c3;border-right:1px solid #c3c3c3;border-top:1px solid #7c7c7c;}
.checkbox{display:block;height:13px;line-height:1.4em;margin:6px 0 0 3px;width:13px;}
.choice{color:#444;display:block;font-size:100%;line-height:1.4em;margin:-1.55em 0 0 25px;padding:4px 0 5px;width:90%;}
select.select[class]{margin:0;padding:1px 0;}
*:first-child+html select.select[class]{margin:1px 0;}
select.medium{width:50%;}